.cm-registration {
    margin-top: 5rem;
  
    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 120rem;
      margin: 0 auto;
      padding: 0 1.5rem;
  
      @include respond(laptop) {
          width: 100%;
      }
    }
  
    &__content {
      margin: 3rem 0;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
      padding: 0 1.5rem;
  
      @include respond(tablet) {
          flex: 0 0 50%;
          max-width: 50%;
      }
  
      @include respond(mobileL) {
          flex: 0 0 75%;
          max-width: 75%;
      }
  
      @include respond(mobileS) {
          flex: 0 0 100%;
          max-width: 100%;
      }
    }
  
    &__heading {
      font-size: 3rem;
      text-align: center;
    }
  
    &__form {
      margin: 2rem 0;
    }
  
    &__control {
      margin-bottom: 1rem;
    }
  
    &__label {
      display: block;
      margin: 0.8rem 0;
      max-width: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-grey-3;
    }
  
    &__input {
      width: 100%;
      padding: 0.8rem 1.2rem;
      font-family: inherit;
      font-size: 1.6rem;
      color: $color-grey-4;
      border: 2px solid #ccc;
      border-radius: 3px;
      transition: all 0.4s ease-out;
    }
  
    &__input:focus {
      border-color: $color-primary;
    }
  
    &__checkbox {
      display: none;
    }
  
    &__check-container {
      display: block;
      position: relative;
      margin-bottom: 1.2rem;
      padding-left: 3rem;
      font-size: 1.6rem;
      cursor: pointer;
    }
  
    &__checkmark {
      position: absolute;
      top: .3rem;
      left: 0;
      height: 2rem;
      width: 2rem;
      background-color: #eee;
    }
  
    &__checkmark::after {
      content: "";
      position: absolute;
      display: none;
      left: 0.7rem;
      top: 0.2rem;
      width: 0.7rem;
      height: 1.4rem;
      border: solid $color-white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  
    &__checkmark:focus {
      outline: 1px solid $color-primary;
    }
  
    &__check-container:hover &__checkmark {
      background-color: #ccc;
    }
  
    &__checkbox:checked ~ &__check-container &__checkmark {
      background-color: $color-primary;
    }
  
    &__checkbox:checked ~ &__check-container &__checkmark::after {
      display: block;
    }
  
    &__submit {
      width: 100%;
    }
  
    &__login {
      margin-top: 1rem;
      font-size: 1.6rem;
      text-align: center;
    }
  
    &__link {
      font-weight: 700;
      color: $color-grey-3;
      transition: all 0.3s ease-out;
    }
  
    &__link:hover {
      color: $color-primary;
    }
  
    &__error {
      font-size: 1.2rem;
      color: $color-primary;
    }

    &__error-signup {
      margin: 1rem 0;
      font-size: 1.6rem;
      text-align: center;
      color: $color-primary;
    }
  }