$color-primary: #e91e63;

$color-white: #fff;
$color-black: #000;

$color-grey-1: #eee;
$color-grey-2: #303d48;
$color-grey-3: #333;
$color-grey-4: #666;

$color-text-1: #73726c;

$color-review-average: #be5a0e;
$color-review-star:  #b6e633;