.cm-header {
  /*height: 85vh;
  background: url('../../assets/img/bckg-header.jpg');
  background-size: cover;
  background-position: bottom;*/

  &__contact {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    background-color: #e91e63;

    &--left {
      flex: 0 0 60%;

      & span:first-child {
        margin-left: 5rem;
      }

      & span {
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff;
      }

      & span:not(:last-child) {
        margin-right: 2rem;
      }

      & span > i {
        margin-right: .3rem;
      }
    }

    &--right {
      flex: 0 0 40%;

      & .cm-social {
        display: flex;
        justify-content: center;
        list-style-type: none;

        &__item {
          margin-left: .7rem;
        }

        &__link {
          display: block;
          height: 3.3rem;
          width: 3.4rem;
          font-size: 1.4rem;
          font-weight: 600;
          color: #fff;
          background: rgba(255, 255, 255, .1);
          border-radius: 50%;
          text-align: center;
          border: 1px solid rgba(255, 255, 255, .3);
          line-height: 3.2rem;
          transition: all .2s;
        }

        &__link:hover {
          background: rgba(255, 255, 255, .3);
        }
      }

    }
  }

  &__top {
    height: 8rem;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    background-color: #fff;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .08), 0 .4rem 1.2rem rgba(0, 0, 0, .08);

    & .cm-logo {
      display: flex;

      &__img {
        margin: 0 1rem;
      }

      &__text {
        color: rgba(0, 0, 0, 0.8);
      }

    }
  }

  &__content {
    height: 70%;
    position: relative;

    & .cm-login {
      position: absolute;
      top: 23%;
      left: 8%;
      width: 25%;
      padding: 0 3rem;
      padding-top: 1rem;
      background-color: #fff;
      border-radius: 3px;
      color: rgba(0, 0, 0, 0.8);

      &__heading {
        font-size: 4.2rem;
        font-weight: 700;
      }

      &__paragraph {
        font-size: 1.6rem;
      }

      &__form {

        &-control {
          margin: 2.5rem 0;
        }

        &-input {
          display: block;
          width: 100%;
          height: 5.4rem;
          padding: .6rem 1.2rem .7rem;
          font-size: 1.6rem;
          color: #555;
          font-weight: 600;
          border: 2px solid #e2e2e2;
          border-radius: 3px;
          outline: none;
          transition: all .2s;
        }

        &-input:focus {
          border-color: #e91e63;
        }

        &-input::-webkit-input-placeholder {
          color: #999;
        }
      }
    }
  }

}

.cm-categories {
  position: relative;

  &:hover > &__hidden {
    display: block;
  }

  &__btn {
    height: 8rem;
    padding: 0 .5rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
    color: rgb(51, 51, 51);
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__btn i {
    font-weight: 600;
  }

  &__btn:hover + &__hidden {
    display: block;
  }

  &__hidden {
    position: absolute;
    z-index: 10;
    border-top: 2px solid #e91e63;
    background-color: #fff;
    padding: 1.5rem 3rem;
    min-width: 23rem;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    border-radius: 0 0 4px 4px;
    text-align: left;
    display: none;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin: 1.5rem 0;
  }

  &__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #3c3b37;
  }

  &__link:hover {
    font-weight: 600;
  }
}

.cm-user {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;

  &__card {
    position: relative;
    margin-right: 1rem;

    &:hover > &--content {
      display: block;
    }

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 8rem;
      padding: 0 1.5rem;
    }

    &--icon {
      height: 2.6rem;
      width: 2.6rem;
      fill: #73726c;
    }

    &--content {
      display: none;
      position: absolute;
      right: -1rem;
      z-index: 10;
      border-top: 2px solid #e91e63;
      background-color: #fff;
      padding: 2rem;
      min-width: 23rem;
      box-shadow: 0 10px 15px rgba(0,0,0,.1);
      border-radius: 0 0 4px 4px;
      text-align: center;
      font-size: 1.4rem;

      & a {
        display: block;
        margin-top: 2rem;
        text-decoration: none;
        color: #e91e63;
      }
    }
  }
}