.cm-course__reviews-create {
    font-size: 1.6rem;
  
    &-stars {
      font-size: 3rem;
  
      svg {
        padding: 0 0.1rem;
        font-size: 2rem;
        color: $color-review-star;
      }
    }
  
    &-form {
      &-control {
        margin-bottom: 1rem;
      }
  
      &-label {
        display: block;
        margin: 0.8rem 0;
        max-width: 100%;
        font-weight: 700;
        color: $color-grey-3;
      }
  
      &-textarea {
        width: 100%;
        padding: 0.5rem 1rem;
        font-family: inherit;
        font-size: inherit;
        color: $color-grey-4;
        border: 2px solid #ccc;
        border-radius: 3px;
        resize: none;
        white-space: pre-line;
        transition: all 0.4s ease-out;
      }
  
      &-textarea:focus {
        border-color: $color-primary;
      }
  
      &-submit {
        display: flex;
        justify-content: flex-end;
      }
    }
  
    &-error {
      color: $color-primary;
    }
  }