.cm-btn {
  position: relative;
  margin: 0 .5rem;
  padding: .8rem 2.6rem;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1px;
  background-color: #e91e63;
  color: #fff;
  border-color: transparent;
  border-radius: 3rem;
  cursor: pointer;
  transition: all .3s;

  @include respond(laptop) {
    padding: .8rem 1rem;
  }
}

.cm-btn:hover,
.cm-btn:focus {
  background-color: darken($color-primary, 15%);
}

.cm-btn-outline {
  padding: 1.6rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .3px;
  background-color: transparent;
  color: #555333;
  border: 2px solid $color-primary;
  border-radius: 3rem;
  cursor: pointer;
  transition: all .3s;
}

.cm-btn-outline:hover,
.cm-btn-outline:focus {
  background-color: $color-primary;
  color: $color-white;
}

.cm-btn-white {
  color: $color-white;
  border-color: $color-white;
}

.cm-btn-white:hover,
.cm-btn-white:focus {
  background-color: $color-white;
  color: $color-primary;
}