.cm-categories-item {
    position: relative;
    height: 32rem;
    width: 30rem;
    margin: 0 3rem 3rem 0;
  
    @include respond(mobileL) {
      margin: 0 0 3rem 0;
    }
  }
  
  .cm-categories-img {
    height: 100%;
    width: 100%;
  }
  
  .cm-categories-desc {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-black, 0.4);
    opacity: 0;
    transition: all 0.5s;
  
    & h4,
    & p {
      transform: translateY(4rem);
      transition: all 0.7s;
    }
  
    & h4 {
      font-size: 2.2rem;
      color: #fff;
    }
  
    & p {
      font-size: 1.4rem;
      font-weight: 600;
      color: #fff;
    }
  }
  
  .cm-categories-item:hover > .cm-categories-desc,
  .cm-categories-item:focus > .cm-categories-desc {
    opacity: 1;
  }
  
  .cm-categories-item:hover > .cm-categories-desc > h4,
  .cm-categories-item:hover > .cm-categories-desc > p,
  .cm-categories-item:focus > .cm-categories-desc > h4,
  .cm-categories-item:focus > .cm-categories-desc > p {
    transform: translate(0);
  }