.cm-course__content2 {
    &-collapsible {
      border: 1px solid $color-white;
  
      &-item {
        padding: 1rem 0;
        font-size: 1.4rem;
      }
  
      &-video {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
  
        & div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
  
        &-play {
          font-size: 2rem;
          color: $color-primary;
        }
  
        &-name {
          margin-left: 1rem;
        }
  
        &-length {
          color: $color-grey-4;
        }

        &-icons {
          margin-left: 1rem;
        }

        &-desc {
          padding-top: .5rem;
          font-size: 1.2rem;
          color: $color-grey-4;
        }
      }
    }
  }