.cm-course__reviews-comments {
    &-item {
      margin-bottom: 2rem;
      padding: 2rem;
      background-color: #fafafa;
      border: 1px solid #ddd;
    }
  
    &-info {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
  
    &-creator {
      display: flex;
      align-items: center;
      flex: 0 0 30%;
      max-width: 30%;
      margin-right: 2rem;
      line-height: 1.4;
    }

    &-creator__details {
      padding-left: 1rem;
    }

    &-creator__username {
      font-size: 1.4rem;
      color: $color-text-1;
    }
  
    &-img {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
    }

    &-date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.4rem;
    }
  
    &-details {
      flex: 0 0 80%;
      max-width: 80%;
    }
  
    &-name {
      font-size: 1.8rem;
    }
  
    &-stars {
      margin: 1rem 0;
      font-size: 1.6rem;
    }
  
    &-stars svg {
      padding: 0 0.1rem;
      font-size: 2rem;
      color: $color-review-star;
    }
  
    &-content {
      font-size: 1.6rem;
    }
  
    &-actions {
      margin-top: 1rem;
    }
  }