.cm-search {
  flex: 0 0 60%;
  position: relative;
  margin: 0 3rem;

  @include respond(laptop) {
    flex: 0 0 40%;
    margin: 0 1rem;
  }

  @include respond(tablet) {
    flex: 0 0 70%;
  }

  @include respond(mobileL) {
    display: none;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
  }

  &__form-small {
    display: none;

    @include respond(mobileL) {
      display: block;
    }
  }

  &__input,
  &__input-small {
    margin: 0;
    padding: 0.7rem 2rem;
    box-sizing: inherit;
    font-family: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    outline: none;
    transition: all 0.2s;
  }

  &__input {
    height: 5rem;
    border-radius: 100px;
    width: 100%;
    font-size: 1.4rem;
    margin-right: -3.5rem;
  }

  &__input-small {
    width: 100%;
    font-size: 1.6rem;
  }

  &__input::-webkit-input-placeholder,
  &__input-small::-webkit-input-placeholder {
    color: #ccc;
  }

  &__input:focus,
  &__input-small:focus {
    background-color: #f0e8e8;
  }

  &__btn {
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #73726c;
  }

  &__results {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    border-top: 2px solid #e91e63;
    border-radius: 0 0 4px 4px;
    padding: 1.5rem 3rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  &__results-hidden {
    display: none;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    display: block;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3c3b37;

    & i {
      margin-right: 1rem;
    }
  }
}