<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Courseholic activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" /> -->
  </head>
  <body>
    <p>Dear</p>
    <p>Your Courseholic account has been created, please click on the URL below to activate it:</p>
    <p>
      <a>Activation link</a>
    </p>
    <p>
      <span>Regards, </span>
      <br />
      <em>Courseholic</em>
    </p>
  </body>
</html>
